@import "bootstrap-sass-official";
@import "spectrum";

body {}

$margin-top: 10px;
$sibling-elem-margin: 2px;

.top-margin {
  margin-top: $margin-top;
}

.sibling-elem-margin {
  margin: $sibling-elem-margin;
}

.color-red {
  @extend .btn-default;
  background-color: #FF0000;
}
.color-red:hover {
  @extend .btn-default:hover;
  background-color: #FF0000;
}
.color-red:focus {
  @extend .btn-default:focus;
  background-color: #FF0000;
}

.color-green {
  @extend .btn-default;
  background-color: #00FF00;
}
.color-green:hover {
  @extend .btn-default:hover;
  background-color: #00FF00;
}
.color-green:focus {
  @extend .btn-default:focus;
  background-color: #00FF00;
}

.color-blue {
  @extend .btn-default;
  background-color: #0000FF;
  color: #FFFFFF;
}
.color-blue:hover {
  @extend .btn-default:hover;
  background-color: #0000FF;
  color: #FFFFFF;
}
.color-blue:focus {
  @extend .btn-default:focus;
  background-color: #0000FF;
  color: #FFFFFF;
}

.color-white {
  @extend .btn-default;
  background-color: #FFFFFF;
}
.color-white:hover {
  @extend .btn-default:hover;
  background-color: #FFFFFF;
}
.color-white:focus {
  @extend .btn-default:focus;
  background-color: #FFFFFF;
}
