@import "bootstrap-sass-official";
@import "spectrum";

body {}

$margin-top: 10px;
$sibling-elem-margin: 2px;

.top-margin {
  margin-top: $margin-top;
}

.sibling-elem-margin {
  margin: $sibling-elem-margin;
}

.summary {
  margin-bottom: 25px;
}
.gallery_item {
  height: 250px;
  width: 250px;
  margin-bottom: 25px;
}

@mixin color-hex($hex_value) {
  @extend .btn-default;
  background-color: $hex_value;
  height: 20px;
  width: 20px;
}
@mixin color-hex-hover($hex_value) {
  @extend .btn-default:hover;
  background-color: $hex_value;
  height: 20px;
  width: 20px;
}
@mixin color-hex-focus($hex_value) {
  @extend .btn-default:focus;
  background-color: $hex_value;
  height: 20px;
  width: 20px;
}
@mixin color-hex-active($hex_value) {
  @extend .btn-default:active;
  background-color: $hex_value;
  height: 20px;
  width: 20px;
}

.color-F0F8FF { @include color-hex(#F0F8FF); }
.color-FAEBD7 { @include color-hex(#FAEBD7); }
.color-00FFFF { @include color-hex(#00FFFF); }
.color-7FFFD4 { @include color-hex(#7FFFD4); }
.color-F0FFFF { @include color-hex(#F0FFFF); }
.color-F5F5DC { @include color-hex(#F5F5DC); }
.color-FFE4C4 { @include color-hex(#FFE4C4); }
.color-000000 { @include color-hex(#000000); }
.color-FFEBCD { @include color-hex(#FFEBCD); }
.color-0000FF { @include color-hex(#0000FF); }
.color-8A2BE2 { @include color-hex(#8A2BE2); }
.color-A52A2A { @include color-hex(#A52A2A); }
.color-DEB887 { @include color-hex(#DEB887); }
.color-5F9EA0 { @include color-hex(#5F9EA0); }
.color-7FFF00 { @include color-hex(#7FFF00); }
.color-D2691E { @include color-hex(#D2691E); }
.color-FF7F50 { @include color-hex(#FF7F50); }
.color-6495ED { @include color-hex(#6495ED); }
.color-FFF8DC { @include color-hex(#FFF8DC); }
.color-DC143C { @include color-hex(#DC143C); }
.color-00FFFF { @include color-hex(#00FFFF); }
.color-00008B { @include color-hex(#00008B); }
.color-008B8B { @include color-hex(#008B8B); }
.color-B8860B { @include color-hex(#B8860B); }
.color-A9A9A9 { @include color-hex(#A9A9A9); }
.color-006400 { @include color-hex(#006400); }
.color-BDB76B { @include color-hex(#BDB76B); }
.color-8B008B { @include color-hex(#8B008B); }
.color-556B2F { @include color-hex(#556B2F); }
.color-FF8C00 { @include color-hex(#FF8C00); }
.color-9932CC { @include color-hex(#9932CC); }
.color-8B0000 { @include color-hex(#8B0000); }
.color-E9967A { @include color-hex(#E9967A); }
.color-8FBC8F { @include color-hex(#8FBC8F); }
.color-483D8B { @include color-hex(#483D8B); }
.color-2F4F4F { @include color-hex(#2F4F4F); }
.color-00CED1 { @include color-hex(#00CED1); }
.color-9400D3 { @include color-hex(#9400D3); }
.color-FF1493 { @include color-hex(#FF1493); }
.color-00BFFF { @include color-hex(#00BFFF); }
.color-696969 { @include color-hex(#696969); }
.color-1E90FF { @include color-hex(#1E90FF); }
.color-B22222 { @include color-hex(#B22222); }
.color-FFFAF0 { @include color-hex(#FFFAF0); }
.color-228B22 { @include color-hex(#228B22); }
.color-FF00FF { @include color-hex(#FF00FF); }
.color-DCDCDC { @include color-hex(#DCDCDC); }
.color-F8F8FF { @include color-hex(#F8F8FF); }
.color-FFD700 { @include color-hex(#FFD700); }
.color-DAA520 { @include color-hex(#DAA520); }
.color-808080 { @include color-hex(#808080); }
.color-008000 { @include color-hex(#008000); }
.color-ADFF2F { @include color-hex(#ADFF2F); }
.color-F0FFF0 { @include color-hex(#F0FFF0); }
.color-FF69B4 { @include color-hex(#FF69B4); }
.color-CD5C5C { @include color-hex(#CD5C5C); }
.color-4B0082 { @include color-hex(#4B0082); }
.color-FFFFF0 { @include color-hex(#FFFFF0); }
.color-F0E68C { @include color-hex(#F0E68C); }
.color-E6E6FA { @include color-hex(#E6E6FA); }
.color-FFF0F5 { @include color-hex(#FFF0F5); }
.color-7CFC00 { @include color-hex(#7CFC00); }
.color-FFFACD { @include color-hex(#FFFACD); }
.color-ADD8E6 { @include color-hex(#ADD8E6); }
.color-F08080 { @include color-hex(#F08080); }
.color-E0FFFF { @include color-hex(#E0FFFF); }
.color-FAFAD2 { @include color-hex(#FAFAD2); }
.color-D3D3D3 { @include color-hex(#D3D3D3); }
.color-90EE90 { @include color-hex(#90EE90); }
.color-FFB6C1 { @include color-hex(#FFB6C1); }
.color-FFA07A { @include color-hex(#FFA07A); }
.color-20B2AA { @include color-hex(#20B2AA); }
.color-87CEFA { @include color-hex(#87CEFA); }
.color-778899 { @include color-hex(#778899); }
.color-B0C4DE { @include color-hex(#B0C4DE); }
.color-FFFFE0 { @include color-hex(#FFFFE0); }
.color-00FF00 { @include color-hex(#00FF00); }
.color-32CD32 { @include color-hex(#32CD32); }
.color-FAF0E6 { @include color-hex(#FAF0E6); }
.color-FF00FF { @include color-hex(#FF00FF); }
.color-800000 { @include color-hex(#800000); }
.color-66CDAA { @include color-hex(#66CDAA); }
.color-0000CD { @include color-hex(#0000CD); }
.color-BA55D3 { @include color-hex(#BA55D3); }
.color-9370DB { @include color-hex(#9370DB); }
.color-3CB371 { @include color-hex(#3CB371); }
.color-7B68EE { @include color-hex(#7B68EE); }
.color-00FA9A { @include color-hex(#00FA9A); }
.color-48D1CC { @include color-hex(#48D1CC); }
.color-C71585 { @include color-hex(#C71585); }
.color-191970 { @include color-hex(#191970); }
.color-F5FFFA { @include color-hex(#F5FFFA); }
.color-FFE4E1 { @include color-hex(#FFE4E1); }
.color-FFE4B5 { @include color-hex(#FFE4B5); }
.color-FFDEAD { @include color-hex(#FFDEAD); }
.color-000080 { @include color-hex(#000080); }
.color-FDF5E6 { @include color-hex(#FDF5E6); }
.color-808000 { @include color-hex(#808000); }
.color-6B8E23 { @include color-hex(#6B8E23); }
.color-FFA500 { @include color-hex(#FFA500); }
.color-FF4500 { @include color-hex(#FF4500); }
.color-DA70D6 { @include color-hex(#DA70D6); }
.color-EEE8AA { @include color-hex(#EEE8AA); }
.color-98FB98 { @include color-hex(#98FB98); }
.color-AFEEEE { @include color-hex(#AFEEEE); }
.color-DB7093 { @include color-hex(#DB7093); }
.color-FFEFD5 { @include color-hex(#FFEFD5); }
.color-FFDAB9 { @include color-hex(#FFDAB9); }
.color-CD853F { @include color-hex(#CD853F); }
.color-FFC0CB { @include color-hex(#FFC0CB); }
.color-DDA0DD { @include color-hex(#DDA0DD); }
.color-B0E0E6 { @include color-hex(#B0E0E6); }
.color-800080 { @include color-hex(#800080); }
.color-FF0000 { @include color-hex(#FF0000); }
.color-BC8F8F { @include color-hex(#BC8F8F); }
.color-4169E1 { @include color-hex(#4169E1); }
.color-8B4513 { @include color-hex(#8B4513); }
.color-FA8072 { @include color-hex(#FA8072); }
.color-F4A460 { @include color-hex(#F4A460); }
.color-2E8B57 { @include color-hex(#2E8B57); }
.color-FFF5EE { @include color-hex(#FFF5EE); }
.color-A0522D { @include color-hex(#A0522D); }
.color-C0C0C0 { @include color-hex(#C0C0C0); }
.color-87CEEB { @include color-hex(#87CEEB); }
.color-6A5ACD { @include color-hex(#6A5ACD); }
.color-708090 { @include color-hex(#708090); }
.color-FFFAFA { @include color-hex(#FFFAFA); }
.color-00FF7F { @include color-hex(#00FF7F); }
.color-4682B4 { @include color-hex(#4682B4); }
.color-D2B48C { @include color-hex(#D2B48C); }
.color-008080 { @include color-hex(#008080); }
.color-D8BFD8 { @include color-hex(#D8BFD8); }
.color-FF6347 { @include color-hex(#FF6347); }
.color-40E0D0 { @include color-hex(#40E0D0); }
.color-EE82EE { @include color-hex(#EE82EE); }
.color-F5DEB3 { @include color-hex(#F5DEB3); }
.color-FFFFFF { @include color-hex(#FFFFFF); }
.color-F5F5F5 { @include color-hex(#F5F5F5); }
.color-FFFF00 { @include color-hex(#FFFF00); }
.color-9ACD32 { @include color-hex(#9ACD32); }

.color-F0F8FF:hover { @include color-hex-hover(#F0F8FF); }
.color-FAEBD7:hover { @include color-hex-hover(#FAEBD7); }
.color-00FFFF:hover { @include color-hex-hover(#00FFFF); }
.color-7FFFD4:hover { @include color-hex-hover(#7FFFD4); }
.color-F0FFFF:hover { @include color-hex-hover(#F0FFFF); }
.color-F5F5DC:hover { @include color-hex-hover(#F5F5DC); }
.color-FFE4C4:hover { @include color-hex-hover(#FFE4C4); }
.color-000000:hover { @include color-hex-hover(#000000); }
.color-FFEBCD:hover { @include color-hex-hover(#FFEBCD); }
.color-0000FF:hover { @include color-hex-hover(#0000FF); }
.color-8A2BE2:hover { @include color-hex-hover(#8A2BE2); }
.color-A52A2A:hover { @include color-hex-hover(#A52A2A); }
.color-DEB887:hover { @include color-hex-hover(#DEB887); }
.color-5F9EA0:hover { @include color-hex-hover(#5F9EA0); }
.color-7FFF00:hover { @include color-hex-hover(#7FFF00); }
.color-D2691E:hover { @include color-hex-hover(#D2691E); }
.color-FF7F50:hover { @include color-hex-hover(#FF7F50); }
.color-6495ED:hover { @include color-hex-hover(#6495ED); }
.color-FFF8DC:hover { @include color-hex-hover(#FFF8DC); }
.color-DC143C:hover { @include color-hex-hover(#DC143C); }
.color-00FFFF:hover { @include color-hex-hover(#00FFFF); }
.color-00008B:hover { @include color-hex-hover(#00008B); }
.color-008B8B:hover { @include color-hex-hover(#008B8B); }
.color-B8860B:hover { @include color-hex-hover(#B8860B); }
.color-A9A9A9:hover { @include color-hex-hover(#A9A9A9); }
.color-006400:hover { @include color-hex-hover(#006400); }
.color-BDB76B:hover { @include color-hex-hover(#BDB76B); }
.color-8B008B:hover { @include color-hex-hover(#8B008B); }
.color-556B2F:hover { @include color-hex-hover(#556B2F); }
.color-FF8C00:hover { @include color-hex-hover(#FF8C00); }
.color-9932CC:hover { @include color-hex-hover(#9932CC); }
.color-8B0000:hover { @include color-hex-hover(#8B0000); }
.color-E9967A:hover { @include color-hex-hover(#E9967A); }
.color-8FBC8F:hover { @include color-hex-hover(#8FBC8F); }
.color-483D8B:hover { @include color-hex-hover(#483D8B); }
.color-2F4F4F:hover { @include color-hex-hover(#2F4F4F); }
.color-00CED1:hover { @include color-hex-hover(#00CED1); }
.color-9400D3:hover { @include color-hex-hover(#9400D3); }
.color-FF1493:hover { @include color-hex-hover(#FF1493); }
.color-00BFFF:hover { @include color-hex-hover(#00BFFF); }
.color-696969:hover { @include color-hex-hover(#696969); }
.color-1E90FF:hover { @include color-hex-hover(#1E90FF); }
.color-B22222:hover { @include color-hex-hover(#B22222); }
.color-FFFAF0:hover { @include color-hex-hover(#FFFAF0); }
.color-228B22:hover { @include color-hex-hover(#228B22); }
.color-FF00FF:hover { @include color-hex-hover(#FF00FF); }
.color-DCDCDC:hover { @include color-hex-hover(#DCDCDC); }
.color-F8F8FF:hover { @include color-hex-hover(#F8F8FF); }
.color-FFD700:hover { @include color-hex-hover(#FFD700); }
.color-DAA520:hover { @include color-hex-hover(#DAA520); }
.color-808080:hover { @include color-hex-hover(#808080); }
.color-008000:hover { @include color-hex-hover(#008000); }
.color-ADFF2F:hover { @include color-hex-hover(#ADFF2F); }
.color-F0FFF0:hover { @include color-hex-hover(#F0FFF0); }
.color-FF69B4:hover { @include color-hex-hover(#FF69B4); }
.color-CD5C5C:hover { @include color-hex-hover(#CD5C5C); }
.color-4B0082:hover { @include color-hex-hover(#4B0082); }
.color-FFFFF0:hover { @include color-hex-hover(#FFFFF0); }
.color-F0E68C:hover { @include color-hex-hover(#F0E68C); }
.color-E6E6FA:hover { @include color-hex-hover(#E6E6FA); }
.color-FFF0F5:hover { @include color-hex-hover(#FFF0F5); }
.color-7CFC00:hover { @include color-hex-hover(#7CFC00); }
.color-FFFACD:hover { @include color-hex-hover(#FFFACD); }
.color-ADD8E6:hover { @include color-hex-hover(#ADD8E6); }
.color-F08080:hover { @include color-hex-hover(#F08080); }
.color-E0FFFF:hover { @include color-hex-hover(#E0FFFF); }
.color-FAFAD2:hover { @include color-hex-hover(#FAFAD2); }
.color-D3D3D3:hover { @include color-hex-hover(#D3D3D3); }
.color-90EE90:hover { @include color-hex-hover(#90EE90); }
.color-FFB6C1:hover { @include color-hex-hover(#FFB6C1); }
.color-FFA07A:hover { @include color-hex-hover(#FFA07A); }
.color-20B2AA:hover { @include color-hex-hover(#20B2AA); }
.color-87CEFA:hover { @include color-hex-hover(#87CEFA); }
.color-778899:hover { @include color-hex-hover(#778899); }
.color-B0C4DE:hover { @include color-hex-hover(#B0C4DE); }
.color-FFFFE0:hover { @include color-hex-hover(#FFFFE0); }
.color-00FF00:hover { @include color-hex-hover(#00FF00); }
.color-32CD32:hover { @include color-hex-hover(#32CD32); }
.color-FAF0E6:hover { @include color-hex-hover(#FAF0E6); }
.color-FF00FF:hover { @include color-hex-hover(#FF00FF); }
.color-800000:hover { @include color-hex-hover(#800000); }
.color-66CDAA:hover { @include color-hex-hover(#66CDAA); }
.color-0000CD:hover { @include color-hex-hover(#0000CD); }
.color-BA55D3:hover { @include color-hex-hover(#BA55D3); }
.color-9370DB:hover { @include color-hex-hover(#9370DB); }
.color-3CB371:hover { @include color-hex-hover(#3CB371); }
.color-7B68EE:hover { @include color-hex-hover(#7B68EE); }
.color-00FA9A:hover { @include color-hex-hover(#00FA9A); }
.color-48D1CC:hover { @include color-hex-hover(#48D1CC); }
.color-C71585:hover { @include color-hex-hover(#C71585); }
.color-191970:hover { @include color-hex-hover(#191970); }
.color-F5FFFA:hover { @include color-hex-hover(#F5FFFA); }
.color-FFE4E1:hover { @include color-hex-hover(#FFE4E1); }
.color-FFE4B5:hover { @include color-hex-hover(#FFE4B5); }
.color-FFDEAD:hover { @include color-hex-hover(#FFDEAD); }
.color-000080:hover { @include color-hex-hover(#000080); }
.color-FDF5E6:hover { @include color-hex-hover(#FDF5E6); }
.color-808000:hover { @include color-hex-hover(#808000); }
.color-6B8E23:hover { @include color-hex-hover(#6B8E23); }
.color-FFA500:hover { @include color-hex-hover(#FFA500); }
.color-FF4500:hover { @include color-hex-hover(#FF4500); }
.color-DA70D6:hover { @include color-hex-hover(#DA70D6); }
.color-EEE8AA:hover { @include color-hex-hover(#EEE8AA); }
.color-98FB98:hover { @include color-hex-hover(#98FB98); }
.color-AFEEEE:hover { @include color-hex-hover(#AFEEEE); }
.color-DB7093:hover { @include color-hex-hover(#DB7093); }
.color-FFEFD5:hover { @include color-hex-hover(#FFEFD5); }
.color-FFDAB9:hover { @include color-hex-hover(#FFDAB9); }
.color-CD853F:hover { @include color-hex-hover(#CD853F); }
.color-FFC0CB:hover { @include color-hex-hover(#FFC0CB); }
.color-DDA0DD:hover { @include color-hex-hover(#DDA0DD); }
.color-B0E0E6:hover { @include color-hex-hover(#B0E0E6); }
.color-800080:hover { @include color-hex-hover(#800080); }
.color-FF0000:hover { @include color-hex-hover(#FF0000); }
.color-BC8F8F:hover { @include color-hex-hover(#BC8F8F); }
.color-4169E1:hover { @include color-hex-hover(#4169E1); }
.color-8B4513:hover { @include color-hex-hover(#8B4513); }
.color-FA8072:hover { @include color-hex-hover(#FA8072); }
.color-F4A460:hover { @include color-hex-hover(#F4A460); }
.color-2E8B57:hover { @include color-hex-hover(#2E8B57); }
.color-FFF5EE:hover { @include color-hex-hover(#FFF5EE); }
.color-A0522D:hover { @include color-hex-hover(#A0522D); }
.color-C0C0C0:hover { @include color-hex-hover(#C0C0C0); }
.color-87CEEB:hover { @include color-hex-hover(#87CEEB); }
.color-6A5ACD:hover { @include color-hex-hover(#6A5ACD); }
.color-708090:hover { @include color-hex-hover(#708090); }
.color-FFFAFA:hover { @include color-hex-hover(#FFFAFA); }
.color-00FF7F:hover { @include color-hex-hover(#00FF7F); }
.color-4682B4:hover { @include color-hex-hover(#4682B4); }
.color-D2B48C:hover { @include color-hex-hover(#D2B48C); }
.color-008080:hover { @include color-hex-hover(#008080); }
.color-D8BFD8:hover { @include color-hex-hover(#D8BFD8); }
.color-FF6347:hover { @include color-hex-hover(#FF6347); }
.color-40E0D0:hover { @include color-hex-hover(#40E0D0); }
.color-EE82EE:hover { @include color-hex-hover(#EE82EE); }
.color-F5DEB3:hover { @include color-hex-hover(#F5DEB3); }
.color-FFFFFF:hover { @include color-hex-hover(#FFFFFF); }
.color-F5F5F5:hover { @include color-hex-hover(#F5F5F5); }
.color-FFFF00:hover { @include color-hex-hover(#FFFF00); }
.color-9ACD32:hover { @include color-hex-hover(#9ACD32); }

.color-F0F8FF:focus { @include color-hex-focus(#F0F8FF); }
.color-FAEBD7:focus { @include color-hex-focus(#FAEBD7); }
.color-00FFFF:focus { @include color-hex-focus(#00FFFF); }
.color-7FFFD4:focus { @include color-hex-focus(#7FFFD4); }
.color-F0FFFF:focus { @include color-hex-focus(#F0FFFF); }
.color-F5F5DC:focus { @include color-hex-focus(#F5F5DC); }
.color-FFE4C4:focus { @include color-hex-focus(#FFE4C4); }
.color-000000:focus { @include color-hex-focus(#000000); }
.color-FFEBCD:focus { @include color-hex-focus(#FFEBCD); }
.color-0000FF:focus { @include color-hex-focus(#0000FF); }
.color-8A2BE2:focus { @include color-hex-focus(#8A2BE2); }
.color-A52A2A:focus { @include color-hex-focus(#A52A2A); }
.color-DEB887:focus { @include color-hex-focus(#DEB887); }
.color-5F9EA0:focus { @include color-hex-focus(#5F9EA0); }
.color-7FFF00:focus { @include color-hex-focus(#7FFF00); }
.color-D2691E:focus { @include color-hex-focus(#D2691E); }
.color-FF7F50:focus { @include color-hex-focus(#FF7F50); }
.color-6495ED:focus { @include color-hex-focus(#6495ED); }
.color-FFF8DC:focus { @include color-hex-focus(#FFF8DC); }
.color-DC143C:focus { @include color-hex-focus(#DC143C); }
.color-00FFFF:focus { @include color-hex-focus(#00FFFF); }
.color-00008B:focus { @include color-hex-focus(#00008B); }
.color-008B8B:focus { @include color-hex-focus(#008B8B); }
.color-B8860B:focus { @include color-hex-focus(#B8860B); }
.color-A9A9A9:focus { @include color-hex-focus(#A9A9A9); }
.color-006400:focus { @include color-hex-focus(#006400); }
.color-BDB76B:focus { @include color-hex-focus(#BDB76B); }
.color-8B008B:focus { @include color-hex-focus(#8B008B); }
.color-556B2F:focus { @include color-hex-focus(#556B2F); }
.color-FF8C00:focus { @include color-hex-focus(#FF8C00); }
.color-9932CC:focus { @include color-hex-focus(#9932CC); }
.color-8B0000:focus { @include color-hex-focus(#8B0000); }
.color-E9967A:focus { @include color-hex-focus(#E9967A); }
.color-8FBC8F:focus { @include color-hex-focus(#8FBC8F); }
.color-483D8B:focus { @include color-hex-focus(#483D8B); }
.color-2F4F4F:focus { @include color-hex-focus(#2F4F4F); }
.color-00CED1:focus { @include color-hex-focus(#00CED1); }
.color-9400D3:focus { @include color-hex-focus(#9400D3); }
.color-FF1493:focus { @include color-hex-focus(#FF1493); }
.color-00BFFF:focus { @include color-hex-focus(#00BFFF); }
.color-696969:focus { @include color-hex-focus(#696969); }
.color-1E90FF:focus { @include color-hex-focus(#1E90FF); }
.color-B22222:focus { @include color-hex-focus(#B22222); }
.color-FFFAF0:focus { @include color-hex-focus(#FFFAF0); }
.color-228B22:focus { @include color-hex-focus(#228B22); }
.color-FF00FF:focus { @include color-hex-focus(#FF00FF); }
.color-DCDCDC:focus { @include color-hex-focus(#DCDCDC); }
.color-F8F8FF:focus { @include color-hex-focus(#F8F8FF); }
.color-FFD700:focus { @include color-hex-focus(#FFD700); }
.color-DAA520:focus { @include color-hex-focus(#DAA520); }
.color-808080:focus { @include color-hex-focus(#808080); }
.color-008000:focus { @include color-hex-focus(#008000); }
.color-ADFF2F:focus { @include color-hex-focus(#ADFF2F); }
.color-F0FFF0:focus { @include color-hex-focus(#F0FFF0); }
.color-FF69B4:focus { @include color-hex-focus(#FF69B4); }
.color-CD5C5C:focus { @include color-hex-focus(#CD5C5C); }
.color-4B0082:focus { @include color-hex-focus(#4B0082); }
.color-FFFFF0:focus { @include color-hex-focus(#FFFFF0); }
.color-F0E68C:focus { @include color-hex-focus(#F0E68C); }
.color-E6E6FA:focus { @include color-hex-focus(#E6E6FA); }
.color-FFF0F5:focus { @include color-hex-focus(#FFF0F5); }
.color-7CFC00:focus { @include color-hex-focus(#7CFC00); }
.color-FFFACD:focus { @include color-hex-focus(#FFFACD); }
.color-ADD8E6:focus { @include color-hex-focus(#ADD8E6); }
.color-F08080:focus { @include color-hex-focus(#F08080); }
.color-E0FFFF:focus { @include color-hex-focus(#E0FFFF); }
.color-FAFAD2:focus { @include color-hex-focus(#FAFAD2); }
.color-D3D3D3:focus { @include color-hex-focus(#D3D3D3); }
.color-90EE90:focus { @include color-hex-focus(#90EE90); }
.color-FFB6C1:focus { @include color-hex-focus(#FFB6C1); }
.color-FFA07A:focus { @include color-hex-focus(#FFA07A); }
.color-20B2AA:focus { @include color-hex-focus(#20B2AA); }
.color-87CEFA:focus { @include color-hex-focus(#87CEFA); }
.color-778899:focus { @include color-hex-focus(#778899); }
.color-B0C4DE:focus { @include color-hex-focus(#B0C4DE); }
.color-FFFFE0:focus { @include color-hex-focus(#FFFFE0); }
.color-00FF00:focus { @include color-hex-focus(#00FF00); }
.color-32CD32:focus { @include color-hex-focus(#32CD32); }
.color-FAF0E6:focus { @include color-hex-focus(#FAF0E6); }
.color-FF00FF:focus { @include color-hex-focus(#FF00FF); }
.color-800000:focus { @include color-hex-focus(#800000); }
.color-66CDAA:focus { @include color-hex-focus(#66CDAA); }
.color-0000CD:focus { @include color-hex-focus(#0000CD); }
.color-BA55D3:focus { @include color-hex-focus(#BA55D3); }
.color-9370DB:focus { @include color-hex-focus(#9370DB); }
.color-3CB371:focus { @include color-hex-focus(#3CB371); }
.color-7B68EE:focus { @include color-hex-focus(#7B68EE); }
.color-00FA9A:focus { @include color-hex-focus(#00FA9A); }
.color-48D1CC:focus { @include color-hex-focus(#48D1CC); }
.color-C71585:focus { @include color-hex-focus(#C71585); }
.color-191970:focus { @include color-hex-focus(#191970); }
.color-F5FFFA:focus { @include color-hex-focus(#F5FFFA); }
.color-FFE4E1:focus { @include color-hex-focus(#FFE4E1); }
.color-FFE4B5:focus { @include color-hex-focus(#FFE4B5); }
.color-FFDEAD:focus { @include color-hex-focus(#FFDEAD); }
.color-000080:focus { @include color-hex-focus(#000080); }
.color-FDF5E6:focus { @include color-hex-focus(#FDF5E6); }
.color-808000:focus { @include color-hex-focus(#808000); }
.color-6B8E23:focus { @include color-hex-focus(#6B8E23); }
.color-FFA500:focus { @include color-hex-focus(#FFA500); }
.color-FF4500:focus { @include color-hex-focus(#FF4500); }
.color-DA70D6:focus { @include color-hex-focus(#DA70D6); }
.color-EEE8AA:focus { @include color-hex-focus(#EEE8AA); }
.color-98FB98:focus { @include color-hex-focus(#98FB98); }
.color-AFEEEE:focus { @include color-hex-focus(#AFEEEE); }
.color-DB7093:focus { @include color-hex-focus(#DB7093); }
.color-FFEFD5:focus { @include color-hex-focus(#FFEFD5); }
.color-FFDAB9:focus { @include color-hex-focus(#FFDAB9); }
.color-CD853F:focus { @include color-hex-focus(#CD853F); }
.color-FFC0CB:focus { @include color-hex-focus(#FFC0CB); }
.color-DDA0DD:focus { @include color-hex-focus(#DDA0DD); }
.color-B0E0E6:focus { @include color-hex-focus(#B0E0E6); }
.color-800080:focus { @include color-hex-focus(#800080); }
.color-FF0000:focus { @include color-hex-focus(#FF0000); }
.color-BC8F8F:focus { @include color-hex-focus(#BC8F8F); }
.color-4169E1:focus { @include color-hex-focus(#4169E1); }
.color-8B4513:focus { @include color-hex-focus(#8B4513); }
.color-FA8072:focus { @include color-hex-focus(#FA8072); }
.color-F4A460:focus { @include color-hex-focus(#F4A460); }
.color-2E8B57:focus { @include color-hex-focus(#2E8B57); }
.color-FFF5EE:focus { @include color-hex-focus(#FFF5EE); }
.color-A0522D:focus { @include color-hex-focus(#A0522D); }
.color-C0C0C0:focus { @include color-hex-focus(#C0C0C0); }
.color-87CEEB:focus { @include color-hex-focus(#87CEEB); }
.color-6A5ACD:focus { @include color-hex-focus(#6A5ACD); }
.color-708090:focus { @include color-hex-focus(#708090); }
.color-FFFAFA:focus { @include color-hex-focus(#FFFAFA); }
.color-00FF7F:focus { @include color-hex-focus(#00FF7F); }
.color-4682B4:focus { @include color-hex-focus(#4682B4); }
.color-D2B48C:focus { @include color-hex-focus(#D2B48C); }
.color-008080:focus { @include color-hex-focus(#008080); }
.color-D8BFD8:focus { @include color-hex-focus(#D8BFD8); }
.color-FF6347:focus { @include color-hex-focus(#FF6347); }
.color-40E0D0:focus { @include color-hex-focus(#40E0D0); }
.color-EE82EE:focus { @include color-hex-focus(#EE82EE); }
.color-F5DEB3:focus { @include color-hex-focus(#F5DEB3); }
.color-FFFFFF:focus { @include color-hex-focus(#FFFFFF); }
.color-F5F5F5:focus { @include color-hex-focus(#F5F5F5); }
.color-FFFF00:focus { @include color-hex-focus(#FFFF00); }
.color-9ACD32:focus { @include color-hex-focus(#9ACD32); }

.color-F0F8FF:active { @include color-hex-active(#F0F8FF); }
.color-FAEBD7:active { @include color-hex-active(#FAEBD7); }
.color-00FFFF:active { @include color-hex-active(#00FFFF); }
.color-7FFFD4:active { @include color-hex-active(#7FFFD4); }
.color-F0FFFF:active { @include color-hex-active(#F0FFFF); }
.color-F5F5DC:active { @include color-hex-active(#F5F5DC); }
.color-FFE4C4:active { @include color-hex-active(#FFE4C4); }
.color-000000:active { @include color-hex-active(#000000); }
.color-FFEBCD:active { @include color-hex-active(#FFEBCD); }
.color-0000FF:active { @include color-hex-active(#0000FF); }
.color-8A2BE2:active { @include color-hex-active(#8A2BE2); }
.color-A52A2A:active { @include color-hex-active(#A52A2A); }
.color-DEB887:active { @include color-hex-active(#DEB887); }
.color-5F9EA0:active { @include color-hex-active(#5F9EA0); }
.color-7FFF00:active { @include color-hex-active(#7FFF00); }
.color-D2691E:active { @include color-hex-active(#D2691E); }
.color-FF7F50:active { @include color-hex-active(#FF7F50); }
.color-6495ED:active { @include color-hex-active(#6495ED); }
.color-FFF8DC:active { @include color-hex-active(#FFF8DC); }
.color-DC143C:active { @include color-hex-active(#DC143C); }
.color-00FFFF:active { @include color-hex-active(#00FFFF); }
.color-00008B:active { @include color-hex-active(#00008B); }
.color-008B8B:active { @include color-hex-active(#008B8B); }
.color-B8860B:active { @include color-hex-active(#B8860B); }
.color-A9A9A9:active { @include color-hex-active(#A9A9A9); }
.color-006400:active { @include color-hex-active(#006400); }
.color-BDB76B:active { @include color-hex-active(#BDB76B); }
.color-8B008B:active { @include color-hex-active(#8B008B); }
.color-556B2F:active { @include color-hex-active(#556B2F); }
.color-FF8C00:active { @include color-hex-active(#FF8C00); }
.color-9932CC:active { @include color-hex-active(#9932CC); }
.color-8B0000:active { @include color-hex-active(#8B0000); }
.color-E9967A:active { @include color-hex-active(#E9967A); }
.color-8FBC8F:active { @include color-hex-active(#8FBC8F); }
.color-483D8B:active { @include color-hex-active(#483D8B); }
.color-2F4F4F:active { @include color-hex-active(#2F4F4F); }
.color-00CED1:active { @include color-hex-active(#00CED1); }
.color-9400D3:active { @include color-hex-active(#9400D3); }
.color-FF1493:active { @include color-hex-active(#FF1493); }
.color-00BFFF:active { @include color-hex-active(#00BFFF); }
.color-696969:active { @include color-hex-active(#696969); }
.color-1E90FF:active { @include color-hex-active(#1E90FF); }
.color-B22222:active { @include color-hex-active(#B22222); }
.color-FFFAF0:active { @include color-hex-active(#FFFAF0); }
.color-228B22:active { @include color-hex-active(#228B22); }
.color-FF00FF:active { @include color-hex-active(#FF00FF); }
.color-DCDCDC:active { @include color-hex-active(#DCDCDC); }
.color-F8F8FF:active { @include color-hex-active(#F8F8FF); }
.color-FFD700:active { @include color-hex-active(#FFD700); }
.color-DAA520:active { @include color-hex-active(#DAA520); }
.color-808080:active { @include color-hex-active(#808080); }
.color-008000:active { @include color-hex-active(#008000); }
.color-ADFF2F:active { @include color-hex-active(#ADFF2F); }
.color-F0FFF0:active { @include color-hex-active(#F0FFF0); }
.color-FF69B4:active { @include color-hex-active(#FF69B4); }
.color-CD5C5C:active { @include color-hex-active(#CD5C5C); }
.color-4B0082:active { @include color-hex-active(#4B0082); }
.color-FFFFF0:active { @include color-hex-active(#FFFFF0); }
.color-F0E68C:active { @include color-hex-active(#F0E68C); }
.color-E6E6FA:active { @include color-hex-active(#E6E6FA); }
.color-FFF0F5:active { @include color-hex-active(#FFF0F5); }
.color-7CFC00:active { @include color-hex-active(#7CFC00); }
.color-FFFACD:active { @include color-hex-active(#FFFACD); }
.color-ADD8E6:active { @include color-hex-active(#ADD8E6); }
.color-F08080:active { @include color-hex-active(#F08080); }
.color-E0FFFF:active { @include color-hex-active(#E0FFFF); }
.color-FAFAD2:active { @include color-hex-active(#FAFAD2); }
.color-D3D3D3:active { @include color-hex-active(#D3D3D3); }
.color-90EE90:active { @include color-hex-active(#90EE90); }
.color-FFB6C1:active { @include color-hex-active(#FFB6C1); }
.color-FFA07A:active { @include color-hex-active(#FFA07A); }
.color-20B2AA:active { @include color-hex-active(#20B2AA); }
.color-87CEFA:active { @include color-hex-active(#87CEFA); }
.color-778899:active { @include color-hex-active(#778899); }
.color-B0C4DE:active { @include color-hex-active(#B0C4DE); }
.color-FFFFE0:active { @include color-hex-active(#FFFFE0); }
.color-00FF00:active { @include color-hex-active(#00FF00); }
.color-32CD32:active { @include color-hex-active(#32CD32); }
.color-FAF0E6:active { @include color-hex-active(#FAF0E6); }
.color-FF00FF:active { @include color-hex-active(#FF00FF); }
.color-800000:active { @include color-hex-active(#800000); }
.color-66CDAA:active { @include color-hex-active(#66CDAA); }
.color-0000CD:active { @include color-hex-active(#0000CD); }
.color-BA55D3:active { @include color-hex-active(#BA55D3); }
.color-9370DB:active { @include color-hex-active(#9370DB); }
.color-3CB371:active { @include color-hex-active(#3CB371); }
.color-7B68EE:active { @include color-hex-active(#7B68EE); }
.color-00FA9A:active { @include color-hex-active(#00FA9A); }
.color-48D1CC:active { @include color-hex-active(#48D1CC); }
.color-C71585:active { @include color-hex-active(#C71585); }
.color-191970:active { @include color-hex-active(#191970); }
.color-F5FFFA:active { @include color-hex-active(#F5FFFA); }
.color-FFE4E1:active { @include color-hex-active(#FFE4E1); }
.color-FFE4B5:active { @include color-hex-active(#FFE4B5); }
.color-FFDEAD:active { @include color-hex-active(#FFDEAD); }
.color-000080:active { @include color-hex-active(#000080); }
.color-FDF5E6:active { @include color-hex-active(#FDF5E6); }
.color-808000:active { @include color-hex-active(#808000); }
.color-6B8E23:active { @include color-hex-active(#6B8E23); }
.color-FFA500:active { @include color-hex-active(#FFA500); }
.color-FF4500:active { @include color-hex-active(#FF4500); }
.color-DA70D6:active { @include color-hex-active(#DA70D6); }
.color-EEE8AA:active { @include color-hex-active(#EEE8AA); }
.color-98FB98:active { @include color-hex-active(#98FB98); }
.color-AFEEEE:active { @include color-hex-active(#AFEEEE); }
.color-DB7093:active { @include color-hex-active(#DB7093); }
.color-FFEFD5:active { @include color-hex-active(#FFEFD5); }
.color-FFDAB9:active { @include color-hex-active(#FFDAB9); }
.color-CD853F:active { @include color-hex-active(#CD853F); }
.color-FFC0CB:active { @include color-hex-active(#FFC0CB); }
.color-DDA0DD:active { @include color-hex-active(#DDA0DD); }
.color-B0E0E6:active { @include color-hex-active(#B0E0E6); }
.color-800080:active { @include color-hex-active(#800080); }
.color-FF0000:active { @include color-hex-active(#FF0000); }
.color-BC8F8F:active { @include color-hex-active(#BC8F8F); }
.color-4169E1:active { @include color-hex-active(#4169E1); }
.color-8B4513:active { @include color-hex-active(#8B4513); }
.color-FA8072:active { @include color-hex-active(#FA8072); }
.color-F4A460:active { @include color-hex-active(#F4A460); }
.color-2E8B57:active { @include color-hex-active(#2E8B57); }
.color-FFF5EE:active { @include color-hex-active(#FFF5EE); }
.color-A0522D:active { @include color-hex-active(#A0522D); }
.color-C0C0C0:active { @include color-hex-active(#C0C0C0); }
.color-87CEEB:active { @include color-hex-active(#87CEEB); }
.color-6A5ACD:active { @include color-hex-active(#6A5ACD); }
.color-708090:active { @include color-hex-active(#708090); }
.color-FFFAFA:active { @include color-hex-active(#FFFAFA); }
.color-00FF7F:active { @include color-hex-active(#00FF7F); }
.color-4682B4:active { @include color-hex-active(#4682B4); }
.color-D2B48C:active { @include color-hex-active(#D2B48C); }
.color-008080:active { @include color-hex-active(#008080); }
.color-D8BFD8:active { @include color-hex-active(#D8BFD8); }
.color-FF6347:active { @include color-hex-active(#FF6347); }
.color-40E0D0:active { @include color-hex-active(#40E0D0); }
.color-EE82EE:active { @include color-hex-active(#EE82EE); }
.color-F5DEB3:active { @include color-hex-active(#F5DEB3); }
.color-FFFFFF:active { @include color-hex-active(#FFFFFF); }
.color-F5F5F5:active { @include color-hex-active(#F5F5F5); }
.color-FFFF00:active { @include color-hex-active(#FFFF00); }
.color-9ACD32:active { @include color-hex-active(#9ACD32); }